.collapsebtn:focus {
    outline: none;
    
  }
  .collapsebtn{
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  .mainContainer-govScheme{
    position: relative;
    top : 35px;
    
  }

  .filtar-bar{
    flex-wrap: wrap;
  }
  